.kvl-container {
	max-height: 258px;
	overflow-y: auto;
	min-width: 500px;
}

.kvl-list li {
	margin-bottom: 5px;
}

.kvl-list li div:first-child{
	margin-right:25px;
}

.kvl-icon {
	width: 20px;
	cursor: pointer;
}